<div class="shadow rounded bg-secondary text-light p-2 text-center">
    <p class="mb-0 font-weight-bold text-uppercase next-show">Next show</p>
    <div class="pt-2">
        <span class="h2 font-weight-bold @(ImminentClass)">@TimeRemaining.Days</span> @(TimeRemaining.Days > 1 ? "days" : "day")
        <span class="h2 font-weight-bold @(ImminentClass)">@($"{TimeRemaining.Hours:00}")</span> hr
        <span class="h2 font-weight-bold @(ImminentClass)">@($"{TimeRemaining.Minutes:00}")</span> min
        <span class="h2 font-weight-bold @(ImminentClass)">@($"{TimeRemaining.Seconds:00}")</span> sec
    </div>
</div>

<div id="countdown-now" class="d-none">
    @($"{DateTime:MMM dd yyy hh:mm:ss zzzz}")
</div>
