@inject IJSRuntime JavaScript

<div class="jumbotron dotnet-border bg-dark text-light" id="@Id">
    <div class="container text-center text-lg-left">
        <div class="row">
            @if (IsShowStarting)
            {
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://player.twitch.tv/?channel=thedotnetdocs&parent=dotnetdocs.dev&muted=true"
                            class="embed-responsive-item" theme="dark" allowfullscreen>
                    </iframe>
                </div>
            }
            else
            {
                <div class="col-lg-8">
                    <h2 class="display-4">@Show.Title</h2>
                    <p class="lead">
                        @(Show.ToGeneralDescription())
                    </p>
                    <div class="row pb-4">
                        <div class="col-md-6 pb-2">
                            <CountDownTimer ShowTime="@Show.Date!.Value.DateTime" ShowIsStarting="OnShowIsStarting" />
                        </div>
                        <div class="col-md-4 pb-2">
                            <span class="text-center pb-2 d-inline-block">
                                <a class="btn btn-lg btn-dotnet" href="@(Show.AddToGoogleCalendar())"
                                   title="Add to calendar" target="_blank" role="button">
                                    <i class="pr-2 fas fa-bell"></i> Remind me
                                </a>
                            </span>
                        </div>
                        <div class="col-md-2">
                            @{
                                var guest = Show.Guests.First();
                                if (guest.ImageUrl != null)
                                {
                                    <a href="https://twitter.com/@(guest.TwitterHandle)" target="_blank" class="d-none d-lg-inline">
                                        <img alt="@($"{guest.FirstName} {guest.LastName}")"
                                             class="circle bg-twitter shadow twitter-border" src="@guest.ImageUrl">
                                    </a>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 align-items-center d-flex flex-column">
                    <div class="pt-5 pb-4">
                        <img src='@(Show.ShowImage ?? "default-thumb.png")' alt="Thumbnail of episode" class="img-fluid shadow-lg">
                    </div>
                    <div class="justify-content-center">
                        <SocialShare Show="Show" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public DocsShow Show { get; set; } = null!;

    [Parameter]
    public string Id { get; set; } = null!;

    bool IsShowStarting = false;

    IDictionary<string, string> Tags => Show.ToShowTags();

    string TweetText => Show.ToSocialText();

    protected override async Task OnAfterRenderAsync(bool firstRender) =>
        await Utilities.NudgeTwitterAsync(JavaScript);

    async Task OnShowIsStarting(bool isStarting)
    {
        IsShowStarting = isStarting;
        await InvokeAsync(() => StateHasChanged());
    }
}
