@using DotNetDocs.Services.Models
@using DotNetDocs.Web.Extensions

<div class="jumbotron" id="@Id">
    <div class="container text-center text-lg-left">
        <div class="row">
            <div class="col-lg-8">
                <h1 class="display-4">@Show.Title</h1>
                <p class="lead">@(Show.ToGeneralDescription())</p>
                <CountDownTimer ShowTime="@Show.Date!.Value.DateTime" />
                <span class="text-center pt-2 pb-2 d-inline-block">
                    <a class="btn btn-dotnet btn-lg w-100" href="@(Show.AddToGoogleCalendar())" target="_blank" role="button">Add to calendar</a>
                </span>
            </div>
            <div class="col-lg-4 align-items-center d-flex">
                <img src='@(Show.ShowImage ?? "default-thumb.png")' alt="Thumbnail of episode" class="img-fluid">
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public DocsShow Show { get; set; } = null!;

    [Parameter]
    public string Id { get; set; } = null!;
}
