@attribute [Authorize]
@page "/admin/show/{showId}/person/{personEmail}"


@if (Person is null)
{
    <LoadingIndicator />
}
else
{
    <div class="container">
        <EditForm Model="Person" OnValidSubmit="(async context => await SubmitUpdatesAsync(context))">
            <DataAnnotationsValidator />
            <ValidationSummary Model="Person" />

            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="first">First name</label>
                        <InputText id="first" @bind-Value="Person.FirstName" class="form-control" />
                        <ValidationMessage For="() => Person.FirstName" />
                    </div>
                    <div class="col">
                        <label for="last">Last name</label>
                        <InputText id="last" @bind-Value="Person.LastName" class="form-control" />
                        <ValidationMessage For="() => Person.LastName" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="email">Email</label>
                        <InputText id="email" @bind-Value="Person.Email" class="form-control" />
                        <ValidationMessage For="() => Person.Email" />
                    </div>
                    <div class="col">
                        <label for="thumb">Twitter Handle (@@handle)</label>
                        <div class="input-group">
                            <InputText id="twitter" @bind-Value="Person.TwitterHandle" class="form-control" />
                            <div class="input-group-append d-none d-lg-inline">
                                @{
                                    var twitterQuery = $"https://twitter.com/search?q={Person.FirstName}%20{Person.LastName}";
                                }
                                <input type="button" class="btn btn-secondary" value="Search Twitter"
                                       disabled="@(Person.FirstName == null && Person.LastName == null)"
                                       onclick="@($"window.open('{twitterQuery}', '_blank')")" />
                            </div>
                            <br>
                            <ValidationMessage For="() => Person.TwitterHandle" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="profileImage">Image URL</label>
                <InputText id="profileImage" @bind-Value="Person.ImageUrl" class="form-control" />
                <ValidationMessage For="() => Person.ImageUrl" />
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="mvp">MVP ID</label>
                        <div class="input-group">
                            <InputNumber id="mvp" @bind-Value="Person.MicrosoftMvpId" class="form-control" />
                            <div class="input-group-append d-none d-lg-inline">
                                @{
                                    var mvpQuery = $"https://mvp.microsoft.com/en-us/MvpSearch?kw={Person.FirstName}+{Person.LastName}";
                                }
                                <input type="button" class="btn btn-secondary" value="Search MVPs"
                                       disabled="@(Person.FirstName == null && Person.LastName == null)"
                                       onclick="@($"window.open('{mvpQuery}', '_blank')")" />
                            </div>
                            <br>
                            <ValidationMessage For="() => Person.MicrosoftMvpId" />
                        </div>
                    </div>
                    <div class="col">
                        <label for="blueBadge">Is blue badge</label>
                        <InputCheckbox id="blueBadge" @bind-Value="Person.IsBlueBadge" class="form-control" />
                        <ValidationMessage For="() => Person.IsBlueBadge" />
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-lg btn-secondary" @onclick="NavigateBack">Cancel</button>
            <button type="submit" class="btn btn-lg btn-dotnet float-right" disabled="@IsFormInvalid">
                <i class="pr-2 fas fa-save"></i> Save
            </button>
        </EditForm>
    </div>
}
