@inject NavigationManager Navigation

<div class="card mb-4 shadow">
    <a href="@(Show.IsInFuture ? $"/show/{Show.Id}" : Show.Url)" title='See show details'>
        <object class="card-img-top img-fluid" data="@Show.ShowImage" type="@(ToMimeType(Show.ShowImage))" alt="Thumbnail of episode">
            <img class="card-img-top img-fluid" src="default-thumb.png" alt="Thumbnail of episode">
        </object>
    </a>
    <div class="card-body">
        <h5 class="card-title">
            @if (Show.IsInFuture)
            {
                <a href="/show/@(Show.Id)" title='See show details'>
                    @Show.Title<br />
                </a>
            }
            else
            {
                <a href="@Show.Url" title='Watch "@(Show.Title)" episode again'>
                    @Show.Title<br />
                </a>
            }
        </h5>
        <div class="lead">@ShowDateTimeString</div>
        <p class="card-text">
            @{
                var guest = Show.Guests.First();
                if (guest.ImageUrl != null)
                {
                    <div class="float-right p-1 m-2">
                        <TwitterAvatar Person="guest" />
                    </div>
                }
            }
            @(Show.ToGeneralDescription())
        </p>
    </div>
    <div class="card-footer">
        <Tags TagValues="Tags" />
        <AuthorizeView>
            <button class="btn btn-sm btn-secondary float-right ml-2" title='Edit "@(Show.Title)"?'
                    @onclick="@(_ => Navigation.NavigateTo($"/admin/show/{Show.Id}"))">
                <i class="fas fa-edit"></i>
            </button>
        </AuthorizeView>

        @{
            var (isSuccessful, url, iconMarkup) = Show.TryGetTooLongDontReadUrl();
            if (isSuccessful)
            {
                <a href="@(url)" target="_blank"
                   class="float-right btn btn-sm btn-dark ml-2" title="TL;DR;">
                    @iconMarkup
                </a>
            }
        }
        <a href="/show/@(Show.Id)"
           class="float-right btn btn-sm btn-info ml-2" title="See show details">
            <i class="fas fa-info-circle"></i>
        </a>
        @if (Show.IsInFuture)
        {
            <a href="@(Show.AddToGoogleCalendar())" target="_blank"
               class="float-right btn btn-sm btn-dotnet ml-2" title="Add to calendar">
                <i class="fas fa-bell"></i>
            </a>
        }
        else if (Show.IsNew)
        {
            <span class="badge badge-success-a11y float-right ml-2" style="margin-top:.3em;">NEW ⚡</span>
        }
    </div>
</div>
@if (IsDivisableBy(1))
{
    <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 1 on sm--></div>
}
@if (IsDivisableBy(2))
{
    <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 2 on md--></div>
}
@if (IsDivisableBy(3))
{
    <div class="w-100 d-none d-lg-block d-xl-none"><!-- wrap every 3 on lg--></div>
}
@if (IsDivisableBy(4))
{
    <div class="w-100 d-none d-xl-block"><!-- wrap every 5 on xl--></div>
}
