@inherits ShowsComponent

@using DotNetDocs.Web.Extensions

@if (Shows == null)
{
    <LoadingIndicator />
}
else
{
    <div class="text-center pb-4">
        <button class="btn btn-lg btn-dotnet" type="button"
                @onclick="@(_ => NavigateToShowDetails("create"))">
            <span class="oi oi-plus"></span> &nbsp; Create Show
        </button>
    </div>
    <table class="table table-hover pt-4">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Actions</th>
                <th scope="col">Title</th>
                <th scope="col">Date</th>
                <th scope="col">Video URL</th>
                <th scope="col">Guests</th>
                <th scope="col">Hosts</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var show in Shows.OrderByDescending(s => s.Date))
            {
                <tr class="editable">
                    <td>
                        <button class="btn btn-danger" title="Delete" @onclick="(_ => OnConfirmDelete(show))">
                            <span class="oi oi-trash"></span>
                        </button>
                        <button class="btn btn-dotnet" title="Edit" @onclick="(_ => NavigateToShowDetails(show.Id))">
                            <span class="oi oi-pencil"></span>
                        </button>
                    </td>
                    <td>@(show.Title)</td>
                    <td>@($"{show.Date:MMM dd, yyyy}")</td>
                    <td><a href="@(show.Url)" target="_blank">@(show.Url) <span class="oi oi-sm oi-external-link"></span></a></td>
                    <td>@(show.Guests.ToCommaSeparatedString(false))</td>
                    <td>@(show.Hosts.ToCommaSeparatedString(false))</td>
                </tr>
            }
        </tbody>
    </table>
}

@if (_showModal)
{
    <div class="modal fade show" style="display:block" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Show?</h4>
                    <button type="button" class="close" @onclick="@Cancel">&times;</button>
                </div>
                <div class="modal-body">
                    <p>🤬 Wow... are you serious right now?! Are you sure you want to delete the "@(_show.Title)"?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" @onclick="@Cancel">Cancel</button>
                    <button type="button" class="btn btn-danger" @onclick=@(async _ => await PerformDelete())>Delete</button>
                </div>

            </div>
        </div>
    </div>
}
