@attribute [Authorize]
@page "/admin/show/{showId}"


@if (Episode is null)
{
    <LoadingIndicator />
}
else
{
<div class="container">
    <EditForm Model="Episode" OnValidSubmit="(async context => await SubmitShowUpdatesAsync(context))">
        <DataAnnotationsValidator />
        <ValidationSummary Model="Episode" />

        <div class="form-group">
            <label for="title">Title</label>
            <InputText id="title" @bind-Value="Episode.Title" class="form-control" />
            <ValidationMessage For="() => Episode.Title" />
        </div>
        <div class="form-group">
            <label for="date">Date</label>
            <InputText id="date" @bind-Value="Episode.DateString"
                       placeholder="YYYY-MM-DDTHH:mm:ss US/Central (-05/-06)"
                       class="form-control" />
            <ValidationMessage For="() => Episode.DateString" />
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label for="url">Guest Stream URL</label>
                    <InputText id="url" @bind-Value="Episode.GuestStreamUrl" class="form-control" />
                    <ValidationMessage For="() => Episode.GuestStreamUrl" />
                </div>
                <div class="col">
                    <label for="url">URL</label>
                    <InputText id="url" @bind-Value="Episode.Url" class="form-control" />
                    <ValidationMessage For="() => Episode.Url" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="thumb">Thumbnail image</label>
            <div class="input-group">
                <InputText id="thumb" @bind-Value="Episode.ShowImage" class="form-control" />
                <div class="input-group-append">
                    @{
                    var showId = Episode.VideoId;
                    var isDisabled = !showId.HasValue;
                    }
                    <input type="button" value="Select Thumbnail" class="btn btn-secondary" data-toggle="modal" data-target="#thumbnailModal"
                           disabled="@(!Episode.VideoId.HasValue)" @onclick="@(_ => OnSelectShowThumbnail())">
                </div>
                <ValidationMessage For="() => Episode.ShowImage" />
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label>Hosts</label>
                    <br>
                    @foreach (var host in Episode.Hosts)
                    {
                    <input type="button" value="@($"{host.FirstName} {host.LastName}")" class="btn btn-lg btn-dotnet"
                           @onclick="@(_ => OnEditPerson(host.Email))">
                    }
                </div>
                <div class="col">
                    <label>Guests</label>
                    <br>
                    @foreach (var guest in Episode.Guests)
                    {
                    <input type="button" value="@($"{guest.FirstName} {guest.LastName}")" class="btn btn-lg btn-info"
                           @onclick="@(_ => OnEditPerson(guest.Email))">
                    }
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label for="url">Published</label>
                    <InputCheckbox id="url" @bind-Value="Episode.IsPublished" class="form-control" />
                    <ValidationMessage For="() => Episode.IsPublished" />
                </div>
                <div class="col">
                    <label for="url">Calendar invite sent</label>
                    <InputCheckbox id="url" @bind-Value="Episode.IsCalendarInviteSent" title="This is set automatically" disabled class="form-control" />
                    <ValidationMessage For="() => Episode.IsCalendarInviteSent" />
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-lg btn-secondary" @onclick="NavigateBack">Cancel</button>
        <button type="submit" class="btn btn-lg btn-dotnet float-right" disabled="@IsFormInvalid">
            <span class="oi oi-check"></span> &nbsp; Save
        </button>
    </EditForm>
</div>
}

<div class="modal fade" id="thumbnailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Select show thumbnail image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (SelectedShowId != null)
                {
                    <ShowImageSelector VideoId="SelectedVideoId" ThumbnailChanged="OnThumbnailChanged" />
                }
            </div>
            <div class="modal-footer">
                <div class="alert alert-info mr-auto w-100" role="alert">
                    To select a new show image, <b>double click</b> on it...
                </div>
            </div>
        </div>
    </div>
</div>
