@inherits ShowsComponent

@using DotNetDocs.Web.Extensions
@using Microsoft.AspNetCore.Components

@inject NavigationManager Navigation

@if (Shows == null)
{
    <LoadingIndicator />
}
else
{
    <table class="table table-hover pt-4">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Date</th>
                <th scope="col">Video URL</th>
                <th scope="col">Guests</th>
                <th scope="col">Hosts</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var show in Shows.OrderByDescending(s => s.Date))
            {
                <tr class="editable" @onclick="(_ => NavigateToShowDetails(show.Id))">
                    <td>@(show.Title)</td>
                    <td>@($"{show.Date:MMM dd, yyyy}")</td>
                    <td><a href="@(show.Url)" target="_blank">@(show.Url) <span class="oi oi-sm oi-external-link"></span></a></td>
                    <td>@(show.Guests.ToCommaSeparatedString(false))</td>
                    <td>@(show.Hosts.ToCommaSeparatedString(false))</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    protected void NavigateToShowDetails(string showId) =>
        Navigation.NavigateTo($"/admin/show/{showId}");
}
