<a class="btn btn-twitter btn-social" title="Tweet about @(Show.Title)"
   href='@(BuildSocialUrl(SocialKind.Twitter))' target="_blank">
    <i class="fab fa-twitter"></i>
</a>

<a class="btn btn-reddit btn-social" title="Submit to the .NET reddit about @(Show.Title)"
   href='@(BuildSocialUrl(SocialKind.Reddit))' target="_blank">
    <i class="fab fa-reddit-alien"></i>
</a>

<a class="btn btn-linkedin btn-social" title="Post on LinkedIn about @(Show.Title)"
   href='@(BuildSocialUrl(SocialKind.LinkedIn))' target="_blank">
    <i class="fab fa-linkedin-in"></i>
</a>

<a class="btn btn-email btn-social" title="Email @(Show.Title)"
   href='@(BuildSocialUrl(SocialKind.Email))' target="_blank">
    <i class="fas fa-envelope"></i>
</a>

@if (!Show.IsInFuture && !string.IsNullOrWhiteSpace(Show.TldrUrl))
{
    <a class="btn btn-dev-to btn-social" title="Read the TL;DR; for @(Show.Title)"
       href='@(Show.TldrUrl)' target="_blank">
        <i class="fab fa-dev"></i>
    </a>
}
