@page "/checklist"

@attribute [AllowAnonymous]

<div class="container">
    <h2>👋 Hi friend!</h2>
    <p>Oh 💩, that's right... you at some point have agreed to join "The .NET Docs Show" live twitch stream and have only just now thought what you'll need to have ready. Please, take a deep breath - it's fine, we're probably looking through the same checklist ourselves. As the 📆 date approaches, take a moment to visit this checklist and use it just before the show. We're very grateful to have you on our show and we're looking forward to it - thank you 🙏.</p>
    <h2>📋 Come prepared</h2>
    <p>
        You will need a headset with a microphone, or a dedicated microphone and headphones. You'll need a webcam, but beyond the immediately obvious - we have a few more things to consider.
    </p>
    <ul class="list no-bullets pl-4 pt-1">
        @foreach (var (id, task) in Tasks)
        {
            <TaskItem Id="@id" Task="@task" />
        }
    </ul>
    <h2>🏁 Agenda</h2>
    <p>
        We follow a rough outline for consistency in the show. Each show is 1-hour in length. Below is the timeline and details for each segment.
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">🕒</th>
                    <th scope="col">Segment</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">5 mins</th>
                    <td>Introduction</td>
                    <td>Bring guest into the stream, briefly discuss background, etc.</td>
                </tr>
                <tr>
                    <th scope="row">5 mins</th>
                    <td>.NET Checkup</td>
                    <td>Examine content related to Docs, or celebrate community contribution</td>
                </tr>
                <tr>
                    <th scope="row">45 mins</th>
                    <td>Hallway Track</td>
                    <td>Most of the show is dedicated to this. It's a "virtual hallway track", much like developer conferences hallway track... casual discussion about .NET.</td>
                </tr>
                <tr>
                    <th scope="row">5 mins</th>
                    <td>Closing</td>
                    <td>Summarize, share links, etc. Then run ticker banner to announce the next show and guest.</td>
                </tr>
            </tbody>
        </table>
    </p>
    <h2>💯 Share</h2>
    <p>
        Please help share this event with the world! We operate entirely on word-of-mouth and through social media channels such as Twitter, and LinkedIn - use any the following &#35; hash tags and handles.
    </p>
    <ul>
        <li>@("@dotnetdocsshow".ToTwitterMarkupString()) (Official)</li>
        <li>@("@camsoper".ToTwitterMarkupString()) (Host)</li>
        <li>@("@cecilphillip".ToTwitterMarkupString()) (Host)</li>
        <li>@("@scott_addie".ToTwitterMarkupString()) (Host)</li>
        <li>@("@mairacw".ToTwitterMarkupString()) (Host)</li>
        <li>@("@davidpine7".ToTwitterMarkupString()) (Host)</li>
        <li>#thedotnetdocsshow</li>
        <li>#dotnet</li>
    </ul>
    <h2>📺 Community Guidelines</h2>
    We rely on, and re-stream to several platforms. As such, we adhere to their Community Guidelines, and expect our guests to do so as well.

    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Platform</th>
                <th scope="col">Account</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td><a href="https://www.twitch.tv/p/legal/community-guidelines" target="_blank">Twitch.tv - Community Guidelines <i class="fas fa-sm fa-external-link-square-alt"></i></a></td>
                <td><a href="https://www.twitch.tv/thedotnetdocs" target="_blank">The .NET Docs Show on Twitch <i class="fas fa-sm fa-external-link-square-alt"></i></a></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td><a href="https://www.youtube.com/howyoutubeworks/policies/community-guidelines/" target="_blank">YouTube - Community Guidelines <i class="fas fa-sm fa-external-link-square-alt"></i></a></td>
                <td><a href="https://www.youtube.com/channel/UCIy_nKrwrd-naf_MPWtXdLA" target="_blank">The .NET Docs Show on YouTube <i class="fas fa-sm fa-external-link-square-alt"></i></a></td>
            </tr>
        </tbody>
    </table>
    <h2>🤓 Code of Conduct</h2>
    <p>
        We proudly echo, follow, and actively enforce the .NET Foundation - Code of Conduct, and we expect all guests to do so as well.

        <a href="https://dotnetfoundation.org/about/code-of-conduct" target="_blank">
            <svg width="259" height="92">
                <image xlink:href="dotnet-foundation-horizontal.svg" width="259" height="92"></image>
            </svg>
        </a>
    </p>
</div>

@code {
    protected IDictionary<int, MarkupString> Tasks = new Dictionary<int, MarkupString>
    {
        [1] = "💻 <b>Reboot</b> your machine".ToMarkupString(),
        [2] = "🔕 Silence (<i>or</i> temporarily disable notifications)".ToMarkupString(),
        [3] = "💀 Set status as \"Do not disturb\"".ToMarkupString(),
        [4] = "🕥 Arrive 15 minutes early - 10:45 AM US/Central".ToMarkupString(),
        [5] = "🗺 Follow the <a href='https://streamyard.com/resources/docs/guest-instructions/' target='_blank'>Guest Instructions <i class='fas fa-sm fa-external-link-square-alt'></i></a> from Stream<b>Yard</b>.".ToMarkupString(),
        [6] = "💪🏽 Strong internet connection, wired connection if possible".ToMarkupString()
    };
}
