@page "/"

@attribute [AllowAnonymous]

@if (_shows == null)
{
    <LoadingIndicator />
}
else if (!_shows.Any())
{
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        <strong>😥</strong> No scheduled shows... check back later!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
else
{
    <h1 class="text-center">Streaming Live</h1>
    <h2 class="text-center">
        <small class="text-muted-a11y">Thursdays @@ 11:00 AM (US/Central)</small>
    </h2>
    if (_futureShows?.Any() ?? false)
    {
        <div class="text-center pb-4">
            <button class="btn btn-lg btn-dotnet" type="button" data-toggle="collapse" data-target="#collapsable" aria-expanded="false" aria-controls="collapsable">
                <i class="pr-2 fas fa-calendar-day"></i> Upcoming Schedule
            </button>
        </div>
        <div class="collapse" id="collapsable">
            <div class="text-center pb-4">
                <h3>
                    <small class="text-muted-a11y">Sort by show date</small>
                </h3>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label @onclick="@(_ => OrderFutureShowsDescending = false)"
                           class="btn clickable btn-sm btn-secondary @(OrderFutureShowsDescending ? "" : "active")">
                        <input type="radio" name="options" id="option2"
                               autocomplete="off" checked="@(!OrderFutureShowsDescending)"> Ascending <i class="pl-2 fas fa-chevron-up"></i>
                    </label>
                    <label @onclick="@(_ => OrderFutureShowsDescending = true)"
                           class="btn clickable btn-sm btn-secondary @(OrderFutureShowsDescending ? "active" : "")">
                        <input type="radio" name="options" id="option1"
                               autocomplete="off" checked="@(OrderFutureShowsDescending)"> Descending <i class="pl-2 fas fa-chevron-down"></i>
                    </label>
                </div>
            </div>
            <div class="card-deck">
                @foreach (var (show, index) in
                  OrderFutureShowsDescending
                      ? _futureShows.OrderByDescending(show => show.Date).Select((show, index) => (show, index))
                      : _futureShows.OrderBy(show => show.Date).Select((show, index) => (show, index)))
                {
                    if (show.IsPlaceholder)
                    {
                        <UnscheduledShowDetails ShowDateTime="@show.Date!.Value" Index="index" />
                    }
                    else
                    {
                        <ShowDetails Show="show" Index="index" />
                    }
                }
            </div>
        </div>
    }
    if (_nextShow != null)
    {
        <NextShowDetails Show="_nextShow" Id="@NextShowElementId" />
    }
    if (_pastShows.Any())
    {
        <div class="card-deck">
            @foreach (var (show, index) in _pastShows.Select((show, index) => (show, index)))
            {
                <ShowDetails Show="show" Index="index" />
            }
        </div>
    }

    <div class="text-center pb-4">
        <a class="btn btn-lg btn-dotnet" href="https://www.youtube.com/channel/UCIy_nKrwrd-naf_MPWtXdLA"
           role="button" target="_blank" rel="nofollow noreferrer">
            <i class="pr-2 far fa-thumbs-up"></i> All Episodes
        </a>
    </div>
}

<div id="index-datetime-debug" class="d-none">
    @(_dateTimeDebug.Value)
</div>
