@page "/schedule"
@attribute [AllowAnonymous]

@using DotNetDocs.Web.Extensions
@using DotNetDocs.Web.PageModels

@if (_shows == null)
{
    <LoadingIndicator />
}
else
{
    <div class="text-center pb-4">
        <h2>Filters</h2>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            @{
                foreach (var option in Enum.GetValues(typeof(FilterOption)).Cast<FilterOption>())
                {
                    <label class="clickable btn btn-secondary@(_filterOption == option ? " active" : "")"
                           @onclick="@(_ => _filterOption = option)">
                        <input type="radio" name="options" id="@option"
                               autocomplete="off" checked="@(_filterOption == option)">
                        @ToDisplayName(option)
                    </label>
                }
            }
        </div>
    </div>
    <table class="table table-hover pt-4">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    Guests &nbsp; <span class="all-devs"></span>
                </th>
                <th scope="col">Title / Tags</th>
                <th scope="col" class="clickable" @onclick="@(_ => _orderDescending = !_orderDescending)">
                    Date &nbsp; <span class='oi oi-chevron-@(_orderDescending ? "bottom" : "top")'></span>
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var show in
              _orderDescending ? FilteredShows.OrderByDescending(s => s.Date) : FilteredShows.OrderBy(s => s.Date))
            {
                var isPlaceholder = show.IsPlaceholder;
                <tr>
                    <td>
                        @if (isPlaceholder)
                        {
                            <p>
                                <span class="pr-2">
                                    <img alt="Maybe you?" class="circle bg-twitter twitter-border"
                                         src="dotnet-bot-head.jpg">
                                </span>
                                You?!
                            </p>
                        }
                        else
                        {
                            var guest = show.Guests.First();
                            if (guest.ImageUrl != null)
                            {
                                <a href="https://twitter.com/@(guest.TwitterHandle)" target="_blank" class="pr-2">
                                    <img alt="@($"{guest.FirstName} {guest.LastName}")"
                                         class="circle bg-twitter twitter-border" src="@guest.ImageUrl">
                                </a>
                            }
                            @(new MarkupString(show.Guests.ToCommaSeparatedString(true)))
                        }
                    </td>
                    <td>
                        @if (isPlaceholder)
                        {
                            <span>Submit a topic, and maybe you'll be our guest!</span>
                        }
                        else
                        {
                            @(show.Title)
                            <br>
                            <Tags TagValues="@show.ToShowTags()" />
                        }
                    </td>
                    <td>@($"{show.Date:MMM dd, yyyy hh:mm (zzzz)}")</td>
                    <td>
                        @if (isPlaceholder)
                        {
                            var date = show.Date!.Value;
                            var dateRoute = $"{date.Month:00}-{date.Day:00}-{date.Year}".Encrypt(ProtectionProvider!);
                            <button class="btn btn-sm btn-dotnet"
                                    @onclick='@(_ => Navigation.NavigateTo($"/request/{dateRoute}"))'>
                                <span class="pr-2 oi oi-envelope-closed"></span> Submit a topic
                            </button>
                        }
                        else
                        {
                            <a href="@(show.AddToGoogleCalendar())" class="btn btn-sm btn-dotnet" target="_blank">
                                <span class="pr-2 oi oi-plus"></span> Add to calendar
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
